<!-- Default home page -->
<div class="landing-page">
	<div class="wrapper">
		<h1>Get feedback on your design. </h1>
		<form class="form" action="designs/addEmailToDesign" method="post" enctype="multipart/form-data">
			<div class="upload-section">
				<input type="file" name="design" id="uploadInput" class="hidden design-input" ng-file-select="onFileSelect($files)">
				<label class="upload-box" for="uploadInput">
					<img src="img/picture@2x.png" width="50" height="50" alt="Picutre icon">
					<span>Click here to upload.</span>
			</label>
			</div>
			<div class="form-modal hidden">
				<input type="hidden" name="src" class="design-src">
				<input type="email" name="email" class="form-control" placeholder="Write your e-mail…">
				<button type="submit" class="btn">
					<span>Continue &amp; get a link</span>
					<img src="img/arrow-right.svg" alt="Arrow right">
				</button>
			</div>
			<div class="progress"></div>
		</form>
	</div>
	<div class="background hidden">
		<div class="image">
			<img src="img/background.svg" alt="background">
		</div>
	</div>
	<div class="backgrounds">
		<div class="sky">
			<div class="birds">
				<img src="img/bg-birds.svg" alt="birds">
			</div>
			<div class="cloud">
				<img src="img/bg-cloud.svg" alt="cloud">
			</div>
			<div class="airship">
				<img src="img/bg-airship.svg" alt="airship">
			</div>
			<div class="cloud2">
				<img src="img/bg-cloud2.svg" alt="cloud">
			</div>
		</div>
		<div class="buildings">
			<img src="img/bg-buildings.svg" alt="background">
		</div> 
		<!-- <div class="image sky">
			<img src="img/bg-sky.svg" alt="background">
		</div>-->
	</div>
</div>


<div class="default-page hidden">
	<!-- <div class="header">
		<h1 id="main-title" class="container"><%= __('Get feedback on your design.') %></h1>
		<h3 class="container">You're looking at: <code><%= view.pathFromApp + '.' +view.ext %></code></h3>
	</div> -->
	<br>
	<div class="main container clearfix">
		<form action="file/upload" method="post" enctype="multipart/form-data" class="form">
			<div class="form-group">
				<label>Email: </label>
				<input type="email" name="email" class="form-control" placeholder="Please write your email..." />
			</div>
			<div class="form-group">
				<label>Please upload your avatar:</label>
				<input type="file" name="design" class="form-control" />
			</div>
			<input type="submit"  class="btn btn-success" />
			<p class="help-block">note that text parameters <strong>must come before</strong> file parameters in the form!</p>
		</form>
	</div>
</div>